<p id="notice"><%= notice %></p>

<h1>Listing Memory Tests</h1>

<table>
  <thead>
    <tr>
      <th>Date Completed</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memory_tests.each do |memory_test| %>
      <tr>
        <td><%= memory_test.created_at %></td>
        <td><%= memory_test.score %></td>
        <td><%= link_to 'Show', memory_test %></td>
        <td><%= link_to 'Edit', edit_memory_test_path(memory_test) %></td>
        <td><%= link_to 'Destroy', memory_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory test', new_memory_test_path %>
