<p id="notice"><%= notice %></p>

<p>
  <strong>Qname:</strong>
  <%= @memory_test.qName %>
</p>

<p>
  <strong>Qbirthday:</strong>
  <%= @memory_test.qBirthday %>
</p>

<p>
  <strong>Qsuburb:</strong>
  <%= @memory_test.qSuburb %>
</p>

<p>
  <strong>Qpet:</strong>
  <%= @memory_test.qPet %>
</p>

<p>
  <strong>Qschool:</strong>
  <%= @memory_test.qSchool %>
</p>

<p>
  <strong>Qjob:</strong>
  <%= @memory_test.qJob %>
</p>

<p>
  <strong>Qgrandchildren:</strong>
  <%= @memory_test.qGrandchildren %>
</p>

<p>
  <strong>User:</strong>
  <%= @memory_test.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @memory_test.score %>
</p>

<%= link_to 'Edit', edit_memory_test_path(@memory_test) %> |
<%= link_to 'Back', memory_tests_path %>
