<p id="notice"><%= notice %></p>

<h1>Listing Memory Checks</h1>

<table>
  <thead>
    <tr>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Q7</th>
      <th>Q8</th>
      <th>Q9</th>
      <th>Q10</th>
      <th>User</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memory_checks.each do |memory_check| %>
      <tr>
        <td><%= memory_check.q1 %></td>
        <td><%= memory_check.q2 %></td>
        <td><%= memory_check.q3 %></td>
        <td><%= memory_check.q4 %></td>
        <td><%= memory_check.q5 %></td>
        <td><%= memory_check.q6 %></td>
        <td><%= memory_check.q7 %></td>
        <td><%= memory_check.q8 %></td>
        <td><%= memory_check.q9 %></td>
        <td><%= memory_check.q10 %></td>
        <td><%= memory_check.user %></td>
        <td><%= memory_check.score %></td>
        <td><%= link_to 'Show', memory_check %></td>
        <td><%= link_to 'Edit', edit_memory_check_path(memory_check) %></td>
        <td><%= link_to 'Destroy', memory_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory check', new_memory_check_path %>
