<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @memory_check.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @memory_check.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @memory_check.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @memory_check.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @memory_check.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @memory_check.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @memory_check.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @memory_check.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @memory_check.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @memory_check.q10 %>
</p>

<p>
  <strong>User:</strong>
  <%= @memory_check.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @memory_check.score %>
</p>

<%= link_to 'Edit', edit_memory_check_path(@memory_check) %> |
<%= link_to 'Back', memory_checks_path %>
